<div id="conteneur">
  <mat-card class="formulaire">
    <form [formGroup]="form">
      <mat-form-field class="full-width" appearance="legacy">
        <mat-label>Nom</mat-label>
        <input matInput name="firstName" value="{{user.firstName}}" disabled>
      </mat-form-field>
      <br>

      <mat-form-field class="full-width" appearance="legacy">
        <mat-label>Prénom</mat-label>
        <input matInput name="lastName" value="{{user.lastName}}" disabled>
      </mat-form-field>
      <br>

      <mat-form-field class="full-width" appearance="legacy">
        <mat-label>Email</mat-label>
        <input matInput name="email" value="{{user.email}}" disabled>
      </mat-form-field>
      <br>

      <button mat-button>Modifier mon profil</button>
      <button mat-button>Enregistrer</button>
    </form>
  </mat-card>

  <mat-card class="consultated-data">
    <div>
      <p>Dernières données consultées</p>
    </div>
  </mat-card>
</div>
