<div class="page">
  <mat-card class="container">
    <mat-card-title class="title">
      Politique de confidentialité
    </mat-card-title>
    <mat-card-content>
      <h3>Article 1 : Définitions</h3>
      <li><strong>BENEFICIAIRE :</strong> désigne l’UTILISATEUR final bénéficiant d’un droit d’accès aux JEUX DE DONNEES
        publiés.
      </li>
      <li><strong>JEUX DE DONNEES :</strong> désigne les données produites, publiées sur le site et rendues accessibles
        à tout ou partie des différentes catégories d’UTILISATEURS suivant l’offre souscrite et les licences proposées.
      </li>
      <li><strong>PLATEFORME ou SITE :</strong> désigne la plateforme éditée par LuckyData ainsi que toutes ses
        composantes graphiques, sonores, visuelles, logicielles, et textuelles.
      </li>
      <li><strong>UTILISATEURS :</strong> désigne l’ensemble des catégories d’utilisateurs de la PLATEFORME. Sont ainsi
        considérés comme UTILISATEURS :
        <ul>
          <li>Les BENEFICIAIRES accédant aux JEUX DE DONNEES,</li>
          <li>Les producteurs des JEUX DE DONNEES.</li>
        </ul>

        <h3>Article 2 : Collecte & traitement des données</h3>
        <p>Les données collectées sont traitées conformément aux finalités prévues lors de la collecte dans le respect
          de la délibération Cnil n°2012-209 du 21 juin 2012 « portant création d’une norme simplifiée concernant les
          traitements automatisés de données à caractère personnel relatifs à la gestion de clients et de prospects »
          (NS 48).</p>
        <p>En particulier, des données sont succeptibles d'être collectées :</p>
        <ul>
          <li>Lors de votre visite du SITE.</li>
          <li>Lors de votre utilisation de fonctionnalités proposées sur le SITE.</li>
          <li>Lors d’échanges avec la Société ou avec d’autres BENEFICIAIRES via le SITE.</li>
        </ul>
        <p>Lorsque cela est nécessaire au regard de la Loi Informatique et Libertés, la Société s’engage, selon les cas,
          à recueillir votre consentement et/ou à vous permettre de vous opposer à l’utilisation de vos données pour
          certaines finalités.</p>
        <p>Les données susceptibles d’être collectées et traitées par la Société pour la réalisation des finalités
          décrites à l’article 3 de la présente politique de confidentialité concernent :</p>
        <ul>
          <li>des données d’identification (nom, prénom, coordonnées postales et électroniques).</li>
          <li>des données relatives à la gestion et à la sécurisation de tout compte créé à partir du SITE.</li>
          <li>des données de connexion (adresses IP, logs de connexion).</li>
        </ul>

        <h3>Article 3 : Consentement</h3>
        <p>Lors de l’utilisation des fonctionnalités proposées par la PLATEFORME, vous pourrez être amenés à communiquer différentes données à caractère personnel vous concernant.</p>
        <p>D’une manière générale, par la communication spontanée de vos données à caractère personnel, vous consentez expressément à ce que ces données soient collectées et traitées par La Société pour les finalités décrites au sein de chaque support de collecte.</p>
        <p>Il est enfin précisé qu’en tant que BENEFICIAIRE, vous consentez à ce que vos données de connexion au DOMAINE soient collectées pour faciliter votre navigation.</p>

        <h3>Article 4 : Destinataires des données</h3>
        <p>Vos données à caractère personnel ne sont ni communiquées, ni échangées, ni vendues ni louées sans votre consentement express préalable conformément aux dispositions légales et réglementaires applicables.</p>

        <h3>Article 5 : Vos droits</h3>
        <p>Il est rappelé que, conformément aux dispositions de la loi n°78-17 dite « Informatique et Libertés » du 6 janvier 1978 telle que modifiée par la loi du 6 août 2004, vous disposez d’un droit d’accès, de rectification, de mise à jour, de verrouillage ou d’effacement des données à caractère personnel vous concernant, qui sont inexactes, incomplètes, équivoques, périmées, ou dont la collecte, l'utilisation, la communication ou la conservation est interdite.</p>
        <p>Vous pouvez également vous opposer, pour des motifs légitimes, à ce que des données à caractère personnel vous concernant fassent l'objet du traitement que nous mettons en œuvre.</p>

        <h3>Artcile 6 : Sécurité</h3>
        <p>La Société respecte la loi Informatique et libertés en matière de sécurité et de confidentialité de vos données.</p>
        <p>A ce titre, la Société prend les précautions utiles, au regard de la nature de vos données et des risques présentés par notre traitement, pour préserver la sécurité des données et, notamment, empêcher qu’elles soient déformées, endommagées, ou que des tiers non autorisés y aient accès (protection physique des locaux, procédé d’authentification de nos clients avec accès personnel et sécurisé via des identifiants et mots de passe confidentiels, journalisation des connexions, chiffrement de certaines données,…).</p>
    </mat-card-content>
  </mat-card>
</div>
