
<footer class="footer ">

  <div class="container">
    <hr class="clearfix pb-2">
    <div class="links">
      <div class="footer-CGU">
        <a style="color: white" href="http://localhost:4200/" >Conditions générales d'utilisation</a>
      </div>
      <div class="footer-confidential">
        <a style="color: white" href="http://localhost:4200/" >Politique de confidentialité</a>
      </div>
      <div class="footer-copyright">
        © 2020 Copyright: <a style="color: white" href="http://localhost:4200/" >LuckyData.fr</a>
      </div>
    </div>
  </div>

</footer>



