@import '../../../custom-theme'

.footer
  width: 100%
  background-color: mat-color($lucky-data-application-primary)
  text-align: center

  .container
    background-color: mat-color($lucky-data-application-primary)

  .links
    height: 10vh
    display: flex
    justify-content: space-around
    align-items: center
    color: #fff

    a
      color: #fff

    a:link, a:visited, a:active
      text-decoration: none

  .footer-copyright
    flex: 1

  .footer-CGU
    flex: 1

  .footer-confidential
    flex: 1
