<mat-toolbar color="primary" class="navbar mat-elevation-z6">
  <img id="logoLcl" src="'../../../assets/logo/logo_lcl2.png">

  <a routerLink="/" mat-button>Accueil</a>

  <a *ngIf="isLoggedIn()" routerLink="/datasets" mat-button>Datasets</a>

  <a *ngIf="isLoggedIn()" routerLink="/" mat-button>Modèles</a>

  <a *ngIf="isLoggedIn() && (isAdmin()||isDataExpert())" [matMenuTriggerFor]="matMenuSubmit" mat-button>Soumettre</a>

  <mat-menu #matMenuSubmit="matMenu" xPosition="before">
    <a routerLink="/upload/dataset" mat-menu-item>Dataset</a>
    <a routerLink="" mat-menu-item>Modèle</a>
  </mat-menu>

  <a *ngIf="isAdmin()" [matMenuTriggerFor]="matAdminSubmit" mat-button>Administration</a>

  <mat-menu #matAdminSubmit="matMenu" xPosition="before">
    <a routerLink="admin/users" mat-menu-item>Gestion des utilisateurs</a>
    <a routerLink="admin/datasets" mat-menu-item>Gestion des datasets</a>
    <a routerLink="" mat-menu-item>Gestion des modèles</a>
  </mat-menu>

  <span class="space-fill"></span>
  <span *ngIf="setName()" id="name">{{name}}</span>

  <a *ngIf="isLoggedIn()" mat-icon-button [matMenuTriggerFor]="beforeMenu" aria-label="Mon compte icone">
    <mat-icon>person</mat-icon>
  </a>

  <mat-menu #beforeMenu="matMenu" xPosition="before">
    <a routerLink="/profile" mat-menu-item>Mon Compte</a>
    <a (click)="logout()" mat-menu-item>Déconnexion</a>
  </mat-menu>
</mat-toolbar>
