<div class="page">
  <div class="mat-headline">Connexion</div>
  <mat-card class="my-form">
    <div *ngIf="loginError" class="full-width loginError">{{errorMess}}</div>
    <mat-card-content>
      <form [formGroup]="form">
        <div>
          <mat-form-field class="full-width">
            <mat-label>Email</mat-label>
            <input matInput placeholder="exemple@lcl.fr" name="email" formControlName="email" required>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="full-width">
            <mat-label>Mot de passe</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" placeholder="Mot de passe" name="password" formControlName="password" required>
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
        </div>
        <div class="reset">
          <a routerLink="/forgotten-password" class="forgot"><button mat-button>Mot de passe oublié?</button></a>
        </div>
        <div class="buttons">
          <button type="submit" mat-raised-button (click)="login()" color="primary" class="connexion">Connexion</button>
          <a routerLink="/register">
            <button mat-raised-button color="primary" class="inscription">Inscription</button>
          </a>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
